[SddmGreeterTheme]
Name=Everblush
Description=Everblush theme for SDDM
Type=sddm-theme
Version=1.0
Website=https://github.com/phob0s-pl/sddm-everblush-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Everblush
Theme-API=2.0
License=MIT
